<style>
      body {height: 100%; color: #333; }
      h1 { color: #337AB7; font-size: 24px; }
      h2 { color: #777; font-size: 36px; font-weight: bold; text-align: right}
      h3 { color: #337AB7; font-size: 18px; }
      </style>
