<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills">
        <li><a href="{{ site.base_url }}/conference-communication-floods.html">Eng <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ site.base_url }}/konferenz-kommunikationsfluten.html">Aktuell <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="{{ site.base_url }}/programm-uebersicht.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programm <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.base_url }}/programm-uebersicht.html">Übersicht</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.base_url }}/beitraege-und-referentinnen.html">Beiträge und ReferentInnen</a></li>
          </ul>
        <li class="dropdown">
          <a href="{{ site.base_url }}/anmeldung.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anmelden <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.base_url }}/anmeldung.html">Teilnehmer</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.base_url }}/presse.html">Presse</a></li>
          </ul>
        <li><a href="{{ site.base_url }}/anfahrt.html">Anfahrt <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ site.base_url }}/partner-werden.html">Partner <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="{{ site.base_url }}/kontakt.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kontakt <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.base_url }}/kontakt.html">Tagungsteam</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.base_url }}/ueber-uns.html">Über uns</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.base_url }}/impressum.html">Impressum</a></li>
          </ul>
         <li><a href="{{ site.base_url }}/material.html">Material <span class="sr-only">(current)</span></a></li>
         <li><a class="btn btn-primary" href="{{ site.base_url }}/anmeldung.html" role="button">Direkt Anmelden</a></li>
         <li><a href="https://twitter.com/LSoM_News/status/639087722716639234" target="_blank"><img alt"RESONANZEN ON TWITTER" src="http://www.eijc.eu/wp-content/uploads/2015/09/Twitter-reso.png" style="height: 36px; width:auto; margin-top:-5px;"></img></a></li>
        </li>
      </ul>
  </div>
</nav>
