<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

<body>
   <div class="page-header" >
            <div class="container">
                  <div class="row">
                        <div class="col-md-4">
                              <a href="http://www.eijc.eu/de/" target="blank_"><img class="float: left; " src="https://raw.githubusercontent.com/EIJC/data/gh-pages/media/eijc-logo-klein.jpg" alt="Europäisches Institut für Journalismus- und Kommunikationsforschung" width="45%" height="45%" /></a>

                        </div>
                        <div class="col-md-8">
                              <a href="http://eijc.github.io/data/"><span style="color:#FAFAFA; font-size: 60px; font-weight:bold; text-align: left; margin-right:50px">KommunikationsFluten</span></a>
                        </div>
                  </div>
            </div>
      </div>



{{ content }}

