<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">

<body>
<div class="page-header">
  <h1><a href="http://www.eijc.eu/de/"><img class=" size-full wp-image-2541 alignleft" src="https://raw.githubusercontent.com/EIJC/data/gh-pages/media/eijc-logo-klein.jpg" width="283" height="87" /></a><small>Konferenz KommunikationsFluten</small></h1>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
      <a class="navbar-brand" href="{{ site.base_url }}">{{ site.title }}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills">
        <li><a href="http://eijc.github.io/data/konferenz-kommunikationsfluten.html">Aktuell <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="http://eijc.github.io/data/programm-uebersicht.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programm <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://eijc.github.io/data/programm-uebersicht.html">Übersicht</a></li>
            <li class="divider"></li>
            <li><a href="http://eijc.github.io/data/beitraege-und-referentinnen.html">Beiträge und ReferentInnen</a></li>
          </ul>
        <li><a href="http://eijc.github.io/data/anmeldung.html">Anmelden <span class="sr-only">(current)</span></a></li>
        <li><a href="http://eijc.github.io/data/partner-werden.html">Partner werden <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="http://eijc.github.io/data/kontakt.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kontakt <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://eijc.github.io/data/partner-werden.html">Anfahrt</a></li>
            <li class="divider"></li>
            <li><a href="http://eijc.github.io/data/presse.html">Presse</a></li>
            <li class="divider"></li>
            <li><a href="http://eijc.github.io/data/impressum.html">Impressum</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<div class="container">
  {{ content }}
</div>

<div class="row">
  <div class="col-md-8">.col-md-8</div>
    {{ content }}
  <div class="col-md-4">.col-md-4</div>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>...</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
     <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
