<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

<body>
   <div class="page-header" >
            <div class="container">
                  <div class="row">
                        <div class="col-md-4">
                              <a href="http://www.eijc.eu/de/" target="blank_"><img src="{{ site.base_url }}/media/eijc-logo-gross.jpg" alt="Europäisches Institut für Journalismus- und Kommunikationsforschung" style="width:60%; height:60%; margin-top:5px; margin-left:-12px;" /></a>

                        </div>
                        <div class="col-md-8">
                              <a href="{{ site.base_url }}/"><span style="color:#F0F0F0; font-size: 54px; font-weight:bold; text-align: left; margin-right:50px;">KommunikationsFluten</span></a>
                        </div>
                  </div>
            </div>
      </div>



{{ content }}

