<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

<body>
 <div class="container" style="width:100%; height:450px; background-color:#FAFAFA">
 </div>

  
<div class="page-header">
  <h1><a href="http://www.eijc.eu/de/" target="blank_"><img class=" size-full wp-image-2541 alignleft" src="https://raw.githubusercontent.com/EIJC/data/gh-pages/media/eijc-logo-klein.jpg" width="283" height="87" /></a></h1>
</div>

<div class="container">
 
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-6">
    </div>
     <div class="col-xs-1">
    </div>
    <div class="col-xs-3">
      <h1>Tagung | Conference</h1>
    </div>
  </div>
</div>

<hr noshade="noshade" size="1" />

<div class="container">
 
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
            {{ content }}
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

