<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }} &middot; {{ site.title }}</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.base_url }}/style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

<body>
<header class="intro-header" style="background-image: url('{{ site.base_url }}/background-1280x800.jpg'); display: block; max-height: 100%; max-width: 100%;"> 
    <a href="https://www.flickr.com/photos/procsilas/3010458671/in/photostream/" style="font-size: 6px; color:#808080,"> Foto | Procsilas Moscas </a>
    <a rel="license" href="http://creativecommons.org/licenses/by/2.0/"><img alt="Creative Commons License" style="height: 7px; width: 20px; position:right;" src="https://i.creativecommons.org/l/by/2.0/88x31.png" /></a></p>
    <a href="{{ site.base_url }}/konferenz-kommunikationsfluten.html"><p style="color:#F0F0F0; font-size: 46px; font-weight:bold; text-align: center; margin-top:400px; margin-bottom: ">KommunikationsFluten</p></a>
    <a href="{{ site.base_url }}/konferenz-kommunikationsfluten.html"><p style="font-size:14px; color:#F0F0F0; text-align: center; text-transform: uppercase;  padding-bottom:50px; margin-left: 15px;">Internationale Tagung über Kommunikation während der Flutkatastrophen 2002 und 2013 in Sachsen</p></a>
 </header>

 <div class="container" style="margin-top:50px;">
  <div class="row">
    <div class="col-xs-6 col-md-6" >
     <a href="http://www.eijc.eu/de/" target="blank_"><img class="alignleft" src="https://raw.githubusercontent.com/EIJC/data/gh-pages/media/eijc-logo-klein.jpg" width="170px" margin-top="15px"/></a>
    </div>
     <div class="col-xs-6 col-md-6" style="text-align: right;">
      <p style="font-size:24px; color: #337AB7;">Tagung | Conference</p>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6">
           <a href="{{ site.base_url }}/konferenz-kommunikationsfluten.html"><p style="color:#c7c7c7; font-size: 30px; font-weight: bold; text-align: right; margin-top:30px;">Deutsch</p></a>
         </div>
         <div class="col-xs-6 col-md-6">
             <a href="{{ site.base_url }}/conference-communication-floods.html"><p style="color:#c7c7c7; font-size: 30px; font-weight: bold; text-align: left;  margin-top:30px;">English</p></a>
         </div>
   </div>
</div>


</body>


 

