---
layout: base
---
<div class="container">
  <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-2>
      </div>
      <div class="col-md-1>
        <p><a class="btn btn-primary btn-lg" href="{{ site.base_url }}/konferenz-kommunikationsfluten.html" role="button" text-color="#808080">De</a></p>
      </div>
      <div class="col-md-1">
        <p><a class="btn btn-primary btn-lg" href="{{ site.base_url }}/conference-communication-floods.html" role="button" text-color="#808080">En</a></p>
      </div>
  </div>
</div>
