---
layout: base
---

{% if page.language == 'en' %}
  {% include navbar-en.html %}
{% else %}
  {% include navbar.html %}
{% endif %}

<div class="container">
 <div class="row">
  <div class="row-same-height row-same-height row-full-height">
    <div class="col-md-2 col-md-height col-full-height">
          <h1> {{ page.title }} </h1>
          <div class="box" style="background-color: #337AB7; width: 80%; height:3px; margin-top:3px;"></div>
    </div>
    <div class="col-md-10 col-md-height col-full-height" style="margin-left:15px;">
               {{ content }}
    </div>
  </div>
 </div>
</div>

<footer style="background-color:#FAFAFA;">
    <div class="container" >
            <p style="margin-top: 30px;  color=#808080; font-size:10px;" > Besonderen Dank an die Sponsoren und Partner </p>
      <div class="container style="align:center>
        <div class="row">
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Sponsor</a></p>
          </div>
        </div>
      </div>
  </div>
</footer>

<footer style="background-color:#F0F0F0">
  <div class="container">
    <p style="margin-top: 30px;  color=#808080; font-size:10px;" > und die Spender </p>
      <div class="container" style="align:center">
        <div class="row">
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
       

  </div>
</footer>

        <div class="container>
            <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-6">
                  
                </div>

                <div class="col-md-1">
                  <p style="margin-top: 30px; text-align: right; color:#808080; font-size:10px;"><a href=" {{ site.base_url }}/presse.html">Presse</a></p>
                </div>
                <div class="col-md-1">
                  <p style="margin-top: 30px; text-align: right; color:#808080; font-size:10px;"><a href=" {{ site.base_url }}/impressum.html">Impressum</a></p>
                </div>
                <div class="col-md-1">
                  <p style="margin-top: 30px; text-align: right; color:#808080; font-size:10px;">EIJK | 2015</p>
                </div>
            </div>
        </div>
 
