---
layout: base
---

{% if page.language == 'en' %}
  {% include navbar-en.html %}
{% else %}
  {% include navbar.html %}
{% endif %}

<div class="container">
 
  <div class="row">
    <div class="col-md-2">
      <div class="container" style="display: block; width: 150px; height: 1380px; background-color: #FAFAFA; border:1px solid #DDD; margin-left: 15px; box-sizing: border-box;">
       <h1>{{ page.title }}</h1>
    </div>
    </div>
    <div class="col-md-6">
            {{ content }}
    </div>
     <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <div class="container" style="width: 1px; height: 1380px; border:1px solid #DDD;></div>
      <h1>Partner und Sponsoren</h1>
    </div>
  </div>
</div>
