---
layout: base
---

{% if page.language == 'en' %}
  {% include navbar-en.html %}
{% else %}
  {% include navbar.html %}
{% endif %}

<div class="container">
 
  <div class="row">
    <div class="col-md-2">
      <div class="container" style="display: block; width: 50px; height: 2000px; background-color: #FAFAFA; margin-left: 15px; box-sizing: border-box;">
       <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="col-md-6"">
               {{ content }}
    </div>
     <div class="col-md-1">
    </div>
    <div class="col-md-3" style="display: block; width: 150px; height: 2000px; margin-left 15px; border:1px solid #FFF; border-left-color:#DDD; box-sizing: border-box;">
      <h1>Partner</h1>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Hauptsponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
      <a href="#" class="thumbnail"  style="width: 160px; height: 100px;" >Sponsor</a>
    </div>
  </div>
</div>

<footer style="background-color:#FAFAFA;">
  <div class="container" >
    <div class="col-md-8">
            <p style="margin-top: 30px; margin-left:70px; color=#808080; font-size:10px;" > Besonderen Dank an die Spender </p>
      <div class="container" style="margin-left:70px;">
        <div class="row">
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
          <div class="col-md-1">
                <p><a class="thumbnail" href="#" style="background-color:#FAFAFA; width: 80px; height: 50px;">Spender</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    
    </div>
    <div class="col-md-3">
    </div>
  </div>
</footer>


<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p style="text-align: right">test</p>
    </div>
    <div class="col-md-7">
      <p style="text-align: right">test</p>
    </div>
    <div class="col-md-3>
      test
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
        <div class="col-md-1">
          <p style="margin-top: 30px; margin-left 20px; color:#808080; font-size:10px;"><a href=" {{ site.base_url }}/presse.html">Presse</a></p>
        </div>
        <div class="col-md-1">
          <p style="margin-top: 30px; margin-left 20px; color:#808080; font-size:10px;"><a href=" {{ site.base_url }}/impressum.html">Impressum</a></p>
        </div>
        <div class="col-md-1">
          <p style="margin-top: 30px; margin-left 20px; color:#808080; font-size:10px;">EIJK | 2015</p>
        </div>
  </div>
</div>
